<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/IT WALLPAPER.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    
                    <h3>I would love to change the world but they won't 
                         give me &lt; /	&gt; the  
                         source code &lt;  /	&gt;
                    </h3>
                    
                </div>
               
            </div>
        </div>
        
    </div>
    <div class="main">
      <app-basicelements></app-basicelements>
      <app-navigation></app-navigation>
    </div>
</div>
